@model IEnumerable<Record_Store.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Customers</h2>


<table class="table">
    <tr>
        <th>Options: </th>
    </tr>
    <tr>
        <th>@Html.ActionLink("Insert your Values","Create")</th>
    </tr>
    <tr>
        <th><a href="/Tracks/ViewCust">Tracks</a></th>
    </tr>
    <tr>
        <th><a href="/Albums/ViewCust">Albums</a></th>
    </tr>
    <tr>
        <th><a href="/Artists/ViewCust">Artists</a></th>
    </tr>

    <tr>
        <th><a href="/Genres/ViewCust">Genres</a></th>
    </tr>
    <tr>
        <th><a href="/Playlists/ViewCust">Playlists</a></th>
    </tr>

</table>


