@model IEnumerable<Record_Store.Models.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Admins</h2>

<table class="table">
    <tr>
        <th>Options: </th>
    </tr>
    <tr>
        <th>@Html.ActionLink("Insert your Values", "Create")</th>
    </tr>
    <tr>
        <th><a href="/Tracks/Index">Tracks</a></th>
    </tr>
    <tr>
        <th><a href="/Albums/Index">Albums</a></th>
    </tr>
    <tr>
        <th><a href="/Artists/Index">Artists</a></th>
    </tr>

    <tr>
        <th><a href="/Genres/Index">Genres</a></th>
    </tr>
    <tr>
        <th><a href="/Playlists/Index">Playlists</a></th>
    </tr>

</table>


