@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="jumbotron">
        <h1>Record Store</h1>
        <p class="lead">Here you can find the latest Albums of your favorite Artists..</p>

    </div>

    <div class="row">

        <div class="col-md-4">
            <h2>Form 1</h2>
            <h4>Search who are the Artists of<br> top X in Y time period</h4> <br>
            <form class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label>How many top?</label>
                    <input type="text" class="form-control" id="x" name="x" placeholder="Type number of top">
                </div>
                <div class="form-group">
                    <label>From Date</label>
                    <input type="date" class="form-control" id="dateFrom" name="dateFrom" placeholder="">
                </div>
                <div class="form-group">
                    <label>To Date</label>
                    <input type="date" class="form-control" id="dateTo" name="dateTo" placeholder="">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>

            </form>
        </div>
        <div class="col-md-4">
            <h2>Form 2</h2>
            <h4>Search top 10 songs in Y time period</h4><br>
            <form class="form-horizontal">

                <div class="form-group">
                    <label>From Date</label>
                    <input type="date" class="form-control" id="dateFrom" name="dateFrom" placeholder="">
                </div>
                <div class="form-group">
                    <label>To Date</label>
                    <input type="date" class="form-control" id="dateTo" name="dateTo" placeholder="">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>

            </form>

        </div>


        <div class="col-md-4">
            <h2>Top Genres</h2>
            <h4>All Time Classic</h4>
            <table>
                <tr>
                    <th>

                    </th>
                </tr>






            </table>
        </div>

    </div>
}